// font 
$font-stack-1: 'Cairo';
$font-stack-2: NeoSansArabic;
$font-stack-3: Neo-Sans-light;

// Colors
$primary-color: #7A0A2A;
$atag-color: #081c29;
$secondary-color: #464749;
$button-color: #058FB2;


$grey-color: #2C2C2C;
$white-color: #fff;
$black-color: #000;