// font 
$font-stack-1: 'Barlow';

// Colors
$primary-color: #9B0448;
$secondary-color: #F08800;
$button-color: #058FB2;


$white-color: #FFFFFF;
$lightgrey-color: #E6E6E6;
$grey-color: #E6E6E6;

$black-color: #000000;
$font-color: #222222;