.page-content {
    margin: 135px 0 0;
    overflow: hidden;

    @media (max-width: 1750px) {         
        margin: 90px 0 0;
    }

    @media (max-width: 1320px) {   
        margin: 85px 0 0;      
    }

    @media (max-width: 1199px) {   
        margin: 78px 0 0;      
    }
}
.content-area{
    overflow: hidden;
}

.container {
    max-width: 1600px;
    width: auto;

    @media (max-width: 1640px) {  
        margin: 0 20px;
    }
}

.arabic-text {
    text-align: #{$end-direction};
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #CCC8C3;
}

::-webkit-scrollbar-thumb {
    background: #91847B;
    border-radius: 2px;
}

div, span, img {
    &:focus{
        outline: none;
    }
}
 
.text-primary {
    color: $primary-color !important;
}

h2, .h2 {
    font-size: 60px;
    font-family: $font-stack-2;
    line-height: 1.2;

    @media (max-width: 767px) {   
        font-size: 45px;             
    }
}

.h3 {
    font-size: 35px;
    font-family: $font-stack-2;
    line-height: 1.2;
}

.h4 {
    font-size: 30px;
    font-family: $font-stack-2;
    line-height: 1.2;
}

.color-secondary {
    color: $secondary-color;
}

.color-primary {
    color: $primary-color;
}

.color-white {
    color: $white-color;
}

.bg {
    background: yellow;
}

.scrollup {
    width: 72px;
    height: 53px;
    position: fixed;
    bottom: 50px;
    #{$end-direction}: 100px;
    display: none;
    text-indent: -9999px;
    background: url('../images/icons/totop_arrow_white.svg') no-repeat;
    background-position: center 15px;
    background-color: $secondary-color;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
    transition: all 0.2s ease-in-out;
    z-index: 10;

    @media (max-width: 1320px) {
        bottom: 20px;
        right: 20px;              
    }

    &::before {
        content: "";
        position: absolute;
        display: inline-block;
        width: 13px;
        height: 10px;
        #{$start-direction}: 0;
        bottom: 100%;
        border-style: solid;
        border-width: 0 36px 18px 36px;
        border-color: transparent transparent $secondary-color;
        transition: all 0.2s ease-in-out;
    }

    &:hover {
        background-color: $primary-color;
        &::before {
            border-color: transparent transparent $primary-color;
        }
    }

    @media (max-width: 767px) {
        display: none !important;            
    }
}


.slick-dots {
    text-align: center;
    padding: 10px 0 10px;

    li {
        display: inline-block;
        margin: 0 4px;

        button {
            border: 0;
            background: rgba($color: $white-color, $alpha: 1);
            display: block;
            height: 12px;
            width: 12px;
            outline: 0;  
            color: transparent; 
            cursor: pointer;
            border-radius: 20px;
            opacity: 1;
            transition: opacity .4s ease;     
            position: relative;       
            padding: 0;

            .slick-class-04 & {
                background:rgba($color: $black-color, $alpha: 0.4) ; 

                &:hover {
                    background:rgba($color: $black-color, $alpha: 0.6); 
                }
            }

            &:hover {
                background:rgba($color: $white-color, $alpha: 0.5) ; 
            }
        }

        &.slick-active button {
            background: $secondary-color;
            opacity: 1;
        }
    }
}

.slick-arrow {
    position: absolute;
    display: block;
    top: 30%;
    padding: 30px 30px;
    opacity: .5;
    z-index: 5;
    border: 0;
    text-indent: -9999px; 
    transition: transform .4s ease, opacity .4s ease, background-color .4s ease, padding .4s ease;

    &:focus {
        border: 0;
        outline: 0px auto -webkit-focus-ring-color;
    }
}

.slick-prev {
    width: 73px;
    height: 73px;
    #{$start-direction}: 10px;
    top: 43%;
    background: $primary-color;
    background-size: 15px;
    opacity: 1;
    &:hover {        
        background-color: #4B6A7E;
    }    

    .slick-class-02 & {
        width: 115px;
        height: 118px;
        background: transparent url(../images/bg/left_arrow.png) no-repeat center center;
        #{$start-direction}: -70px;
        filter: grayscale(90%);
        opacity: .95;

        @media (max-width: 1199px) {
            #{$start-direction}: 5px;
            width: 80px;
            height: 88px;
            background-size: contain;
        }

        &:hover {
            filter: grayscale(0%);
            opacity: 1;
        }
    }
}

.slick-next {
    width: 73px;
    height: 73px;
    #{$end-direction}: 10px;
    top: 43%;
    background: $primary-color;
    background-size: 15px;
    opacity: 1;
    &:hover {        
        background-color: #4B6A7E;
    }     

    .slick-class-02 & {
        width: 115px;
        height: 118px;
        background: transparent url(../images/bg/right_arrow.png) no-repeat center center;
        #{$end-direction}: -70px;
        filter: grayscale(90%);
        opacity: .95;

        @media (max-width: 1199px) {
            #{$end-direction}: 5px;
            width: 80px;
            height: 88px;
            background-size: contain;
        }

        &:hover {
            filter: grayscale(0%);
            opacity: 1;
        }
    }
}

.pagination {
    margin: 50px 10px;

    @media (max-width: 767px) {
        margin: 30px 0;
    }
    
    .page-link {
        position: relative;
        display: block;
        padding: 0;
        height: 56px;
        width: 56px;
        margin: 0 5px;
        line-height: 54px;
        color: #000000;
        background-color: #fff;
        border: 1px solid #EFEFEF;
        text-align: center;
        border-radius: 50px;
        font-weight: 700;
    } 

    .page-item.active .page-link {
        color: #fff;
        background-color: $primary-color;
        border-color: $primary-color;
    }

    .page-item:first-child .page-link {
        margin-left: 0;
        border-radius: 50px;
        color: $primary-color;
        background-color: #F5F5F5;
    }

    .page-item:last-child .page-link {
        margin-left: 0;
        border-radius: 50px;
        color: $primary-color;
        background-color: #F5F5F5;
    }
}

.read__more {
    font-size: 18px;
    text-decoration: underline;
    color: #222222;

    &:hover {
        text-decoration: underline;
        color: #222222;
    }
   
}
.gradient__bg {
    overflow: hidden;
    width: 100%;
    position: relative;
    background-color: $white-color;
    padding: 50px 0;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        display: block;
        background: linear-gradient(180deg, #F7F7F7 20%, rgba(0, 0, 0, 0) 80%);
        width: 100%;
        height: 100%;
        right: 0;
        top: 0;
        z-index: 1;
        opacity: 0.5;
        transition: opacity 0.7s ease;
    }
    &::after {
        content: "";
        position: absolute;
        display: block;
        background: url(../images/placeholder/sponsor_pattern.svg) center center no-repeat;
        width: 1000px;
        height: 1000px;
        right: -400px;
        background-size: contain;
        top: -500px;
        z-index: 0;
        opacity: 0.6;
        transform-origin: center center;
        animation: spin360 100s infinite linear;
        transition: opacity 0.7s ease;
    }

    .container {
        position: relative;
        z-index: 1;
    }
}