.page-content {
    background: yellow;
    margin: 200px 0 0;
}

.container {
    max-width: 1770px;
    border: 1px solid red;
    min-width: 200px;
}

.arabic-text {
    text-align: #{$end-direction};
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #CCC8C3;
}

::-webkit-scrollbar-thumb {
    background: #91847B;
    border-radius: 2px;
}

div, span, img {
    &:focus{
        outline: none;
    }
}
 
.text-primary {
    color: $primary-color !important;
}