/*** LTR websites ***/
$direction           :ltr;
$opposite-direction   :rtl;

$start-direction     :left;
$end-direction       :right;

$transform-direction :1;

// This overrides our default value of $dir
$dir: left;