.header{ 
    position: fixed;
    z-index: 10;
    width: 100%;    
    background-color: rgba($white-color, 1);
    z-index: 10;
    #{$end-direction}: 0;
    top: 0;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.16);
    box-shadow: 0 3px 6px rgba(0,0,0,.16);

    &__logo {
        border: 1px solid red;
        display: flex;
        align-items: center;
        flex-direction: row;

        &__holder { 
            padding: 20px 0;
        }  
    }     
}

 