.header{ 
    position: fixed;
    z-index: 10;
    width: 100%;    
    background-color: rgba($white-color, 1);
    z-index: 10;
    #{$end-direction}: 0;
    top: 0;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.16);
    box-shadow: 0 3px 6px rgba(0,0,0,.16);

    .container {
        position: relative;
        max-width: none;
    }

    &-logo {
        position: relative;
        z-index: 2;
        margin: 20px 20px;
        max-width: 300px;

        @media (max-width: 1600px) {
            margin: 20px 0;
        }

        @media (max-width: 575px) { 
            margin: 9px 0;
            max-width: 210px;
        }

        &__holder {
           display: flex;
           align-items: center;
           background-color: #F6F6F6; 

            &::after {
                content: "";
                position: absolute;
                z-index: 0;
                width: 50%;
                height: 100%;
                background: #ffffff url(../images/bg/bg_logo.svg) bottom right no-repeat;
                #{$end-direction}: 0;
                top: 0;

                @if $dir == right {
                    transform: scaleX(-1);
                }
            }
        }
    }

    &-right {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        @media (max-width: 575px) { 
            justify-content: space-between;
            padding-top: 4px;
            padding-bottom: 4px;
        }
    }
}

.search {
    &-holder{
        position: absolute;
        top: 100%;
        #{$start-direction}: 0;
        width: 100%;
        background: #ffffff;
        height: 0;
        box-shadow: inset 0px 40px 60px 0px #EFEFEF, 0 3px 3px rgba(0,0,0,.05);
        transition: all 200ms;
        overflow: hidden;

        .search-open & {
            height: 95px;

            @media (max-width: 575px) {   
                height: 52px;   
            }
        }

        label {
            display: block;
            margin: 0 108px;
            position: relative;
            margin-top: 30px;
            &::after {
                content: "";
                position: absolute;
                #{$start-direction}: -50px;
                top: 4px;
                width: 28px;
                height: 28px;
                background: url(../images/icons/btn_search.svg) 0 0 no-repeat;
            }

            @media (max-width: 575px) {     
                margin: invertValues(5px, 40px, 5px, 10px); 

                &::after {
                    display: none;
                }
            }
        }

        .close {
            position: absolute;
            #{$end-direction}: 40px;
            top: 40px;
            width: 22px;
            height: 22px;
            background: url(../images/icons/btn_close.svg) 0 0 no-repeat;
            overflow: hidden;
            text-indent: -9999px;
            opacity: 1;

            @media (max-width: 575px) {   
                #{$end-direction}: 10px;
                top: 14px;
            }

            &:hover {
                opacity: 1;
                -webkit-filter: brightness(0);
                filter: brightness(0);
            }
        }
    }

    &-input {
        width: 100%;
        display: block;
        -webkit-appearance: none;
        border: 0;
        background: none;
        color: #000000;
        padding: 0;
        border: 0 none;
        font-size: 27px;
        font-weight: 400;
        white-space: nowrap;
        outline: 0;

        &::-webkit-input-placeholder {
            color: #000000;
        }
        
        &:-ms-input-placeholder {
            color: #000000;
        }
        
        &::placeholder {
            color: #000000;
        }
    }

    &-result {
        &-holder {
            li {
                border-bottom: 1px solid rgba(0,0,0,.1);
                margin: 0 0 20px;
            }

            a {
                color: $primary-color;
            }
        }
    }

    
}