.header {
    &__nav {
        border: 0px solid red;

        > ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            font-weight: 700; 

            > li {
                position: relative;

                > a {
                    display: inline-block; 
                    color: $font-color;
                    font-size: 20px;   
                    text-transform: none;  
                    padding: invertValues(52px, 20px, 50px, 20px); 
                    position: relative; 
                    text-transform: uppercase;
                    border-bottom: 5px solid transparent;
                    transition: padding 400ms;

                    .toTop & {
                        padding: invertValues(22px, 20px, 20px, 20px);
                        transition: padding 1000ms;
                    }

                    &:hover {
                        background: #F8F8F8;
                        color: $font-color;
                        border-color: $font-color;

                        &::before {
                            content: "";
                            position: absolute;
                            display: inline-block;
                            width: 13px;
                            height: 10px;
                            #{$start-direction}: 50%;
                            bottom: 0px;
                            border-style: solid;
                            border-width: 0 14.5px 8px 14.5px;
                            border-color: transparent transparent  $font-color;
                            margin: invertValues(0, 0, 0, -14.5px); 
                        }
                    }
                }

                &.active {
                    > a {
                        background: #F8F8F8;
                        color: $primary-color;
                        border-bottom: 5px solid $primary-color;

                        &::before {
                            content: "";
                            position: absolute;
                            display: inline-block;
                            width: 13px;
                            height: 10px;
                            #{$start-direction}: 50%;
                            bottom: 0px;
                            border-style: solid;
                            border-width: 0 14.5px 8px 14.5px;
                            border-color: transparent transparent  $primary-color;
                            margin: invertValues(0, 0, 0, -14.5px); 
                        }
                    }
                }

                &.dropdown {

                    > a {
                        padding-#{$end-direction}: 40px;
                        &::after {
                            content: "";
                            position: relative;
                            display: inline-block;
                            width: 13px;
                            height: 10px;
                            background: url(../images/icons/menu_arrow_color.svg) center center no-repeat;
                            #{$end-direction}: -15px;
                            top: -2px;
                            transition: all 200ms;
                        }
                    } 
                    
                    &:hover {
                        & > a::after {
                            transform: rotate(-180deg);
                        }
                    }
                }
            }
        }
    }
}