.header {
    &__nav {
        border: 0px solid red;

        @media (max-width: 1199px) {
            .menu-open & {
                 
            }
        }

        > ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            font-weight: 700; 

            @media (max-width: 1199px) {
                flex-direction: column;
            }

            > li {
                position: relative;

                @media (max-width: 1199px) {
                    width: 100%;
                }

                > a {
                    display: inline-block; 
                    color: $font-color;
                    font-size: 19px;   
                    text-transform: none;  
                    padding: invertValues(52px, 15px, 50px, 15px); 
                    position: relative; 
                    text-transform: uppercase;
                    border-bottom: 5px solid transparent;
                    transition: padding 400ms;


                    @media (max-width: 1750px) {  
                        padding: 30px 10px; 
                        font-size: 18px;
                    }

                    @media (max-width: 1320px) {  
                        padding: 30px 7px; 
                        font-size: 15px;
                    }
                          
                    @media (max-width: 1199px) {
                        padding: 10px 6px; 
                        font-size: 16px;
                        border-bottom: 2px solid transparent;
                        display: block;
                    }

                    @media (min-width: 1200px) {
                        .toTop & {
                            padding: invertValues(22px, 20px, 20px, 20px);
                            transition: padding 1000ms;
                        }
                    }

                    &:hover {
                        background: #F8F8F8;
                        color: $font-color;
                        border-color: $font-color;

                        &::before {
                            content: "";
                            position: absolute;
                            display: inline-block;
                            width: 13px;
                            height: 10px;
                            #{$start-direction}: 50%;
                            bottom: 0px;
                            border-style: solid;
                            border-width: 0 14.5px 8px 14.5px;
                            border-color: transparent transparent  $font-color;
                            margin: invertValues(0, 0, 0, -14.5px); 

                            @media (max-width: 1199px) {
                                display: none;
                            }
                        }
                    }
                }

                &.active {
                    > a {
                        background: #F8F8F8;
                        color: $primary-color;
                        border-bottom: 5px solid $primary-color;

                        @media (max-width: 1199px) {
                            border-bottom: 2px solid $primary-color;
                        }

                        &::before {
                            content: "";
                            position: absolute;
                            display: inline-block;
                            width: 13px;
                            height: 10px;
                            #{$start-direction}: 50%;
                            bottom: 0px;
                            border-style: solid;
                            border-width: 0 14.5px 8px 14.5px;
                            border-color: transparent transparent  $primary-color;
                            margin: invertValues(0, 0, 0, -14.5px); 

                            @media (max-width: 1199px) {
                                display: none;
                            }
                        }
                    }                   
                }

                &.dropdown {
                    position: static;

                    > a {
                        padding-#{$end-direction}: 40px;
                        &::after {
                            content: "";
                            position: relative;
                            display: inline-block;
                            width: 13px;
                            height: 10px;
                            background: url(../images/icons/menu_arrow_color.svg) center center no-repeat;
                            #{$end-direction}: -15px;
                            top: -2px;
                            transition: all 200ms;
                        }
                    } 
                    
                    &:hover {
                        & > a::after {
                            transform: rotate(-180deg);
                        }

                        .dropdown__nav {
                            max-height: 1000px;
                            transition: all 1s linear;
                        }
                    }

                    .dropdown__nav {
                        position: absolute;
                        #{$start-direction}: 0;
                        width: 100%;
                        top: 100%;
                        background: $primary-color;
                        overflow: hidden;
                        display: flex;
                        font-family: $font-stack-2;
                        max-height: 0;
                        transition: all 0.1s linear;

                        &::before {
                            content: "";
                            position: absolute;
                            display: block;
                            background: linear-gradient(90deg, rgba(155,4,72,1) 0%, rgba(255,255,255,1) 50%, rgba(155,4,72,1) 100%);;
                            width: 100%;
                            height: 3px;
                            #{$end-direction}: 0;
                            bottom: 0;
                            z-index: 0;
                        }

                        &::after {
                            content: "";
                            position: absolute;
                            display: block;
                            background: url(../images/placeholder/newsbg_pattern.svg) center center no-repeat;
                            width: 1800px;
                            height: 1800px;
                            #{$end-direction}: -600px;
                            background-size: contain;
                            top: -1000px;
                            z-index: -0;
                            opacity: 0.1;
                            transform-origin: center center;
                            animation: spin360 100s infinite linear;
                            filter: brightness(0);
                        }

                        figure {
                            min-width: 21%;
                            text-align: center;
                            position: relative;
                            z-index: 2;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            overflow: hidden;
                        }

                        aside {
                            position: relative;
                            z-index: 2;
                            padding: 70px 0;
                        }

                        h3 {
                            color: $white-color;
                            font-size: 45px;
                            line-height: 1.2;
                            font-weight: normal;
                            margin: 0 0 48px;
                        }

                        ul {
                            display: flex;
                            flex-wrap: wrap;

                            li {
                                min-width: 35%;
                                margin: 0 0 17px;
                                position: relative;

                                &:hover {
                                    &::after {
                                        width: 98%;
                                    }
                                }
                                
                                &::after {
                                    position: absolute;
                                    left: 0;
                                    bottom: -3px;
                                    display: inline-block;
                                    content: "";
                                    width: 0;
                                    height: 3px;
                                    background-color: $secondary-color;
                                    transition: width 0.3s;
                                }

                                a {
                                    color: $white-color;
                                    font-size: 25px;
                                    line-height: 1.2;
                                    font-weight: normal;
                                    position: relative;
                                    padding: invertValues(0, 0, 0, 23px);
                                    display: block;

                                    &::before {
                                        content: "";
                                        position: absolute;
                                        display: inline-block;
                                        width: 10px;
                                        height: 14px;
                                        background: url(../images/icons/play.svg) center center no-repeat;
                                        background-size: 8px;
                                        vertical-align: middle;
                                        top: 8px;
                                        #{$start-direction}: 0;
                                        transition: all 200ms;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}