.home {
    &__clublist {
        border: 1px solid #ECECEC;
        display: inline-block;
        margin: 0 3px 5px;
        border-radius: 12px;
        background-color: #E6E6E6;
        overflow: hidden;
        transition: background-color 0.8s ease;

        &:hover {
            background-color: $primary-color;
            border: 1px solid $primary-color;

            figure {
                border: 1px solid $primary-color;

                img {
                    animation: rotateYLogo 1s 1 cubic-bezier(.03,.21,.67,.97); 
                    transition: transform 1.5s; 
                }
            }

            span {
                font-weight: 500; 
                color: $white-color;
            }
        }

        &__holder {
            text-align: center;
            margin: 0 -20px;
            padding: 40px 0;
        }

        & figure {
            width: 123px;
            height: 123px;
            border-radius: 12px;
            background-color: $white-color;
            display: flex;
            align-items: center;
            border: 1px solid transparent;
            transition: all 0.8s ease;
            
            img {
                max-width: 86%;
                margin: 0 auto;
            }
        }

        span {
            font-weight: 400; 
            font-size: 17px;
            line-height: 1.2;
            color: $black-color;
            display: block;
            padding: 6px 0 10px;
            transition: all 0.4s ease;
        }
    }

    &__news {

        &__holder {
            background-color: $primary-color;
            color: $white-color;
            padding: 40px 0 0;
            position: relative;
            overflow: hidden;

            .container {
                position: relative;
                z-index: 2;
            }

            &::after {
                content: "";
                position: absolute;
                display: block;
                background: url(../images/placeholder/newsbg_pattern.svg) center center no-repeat;
                width: 1300px;
                height: 1300px;
                #{$end-direction}: -350px;
                background-size: contain;
                top: -700px;
                z-index: 0;
                opacity: 0.1;
                transform-origin: center center;
                animation: spin360 100s infinite linear;
                filter: brightness(0);
            }

            &::before {
                content: "";
                position: absolute;
                display: block;
                background: linear-gradient(180deg, $primary-color 0%, rgba(0,0,0,0) 80%);
                width: 100%;
                height: 100px;
                #{$end-direction}: 0;
                top: 0;
                z-index: 1;
                opacity: 0.7;
            }

        }

        &__item {
            position: relative;
            margin: 0 0 5px;
            transition: all 0.8s ease;
            overflow: hidden;
            z-index: 1;

            &:after {
                background: $white-color;
                content: "";
                height: 170%;
                left: -130%;
                opacity: .2;
                position: absolute;
                top: -150px;
                transform: rotate(35deg);
                width: 100px;
                z-index: 1;
            } 

            &:hover {
                figure {
                    &::before {
                        opacity: 1;
                    }  
                    
                    img {
                        transform:rotate(-1deg) scale(1.02);
                        filter: grayscale(0%);
                    }
                }

                .home__news__item__type {
                    background: $secondary-color;
                }

                &:after {
                    left: 150%;
                    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
                }
            }            

            &--large {
                height: calc(100% - 5px);

                &:hover {     
                    &:after {
                        transition: all 1500ms cubic-bezier(0.19, 1, 0.22, 1);
                    }
                }
    
            }

            figure {
                position: relative;

                &::after {
                    content: "";
                    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0) 13%, rgba(0, 0, 0, 1) 100%);
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    overflow: hidden;
                    text-indent: -9999px;
                    transition: all 0.8s ease;
                }

                &::before {
                    content: "";
                    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0) 13%, rgba(0, 0, 0, 1) 80%);
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    overflow: hidden;
                    text-indent: -9999px;
                    transition: all 0.8s ease;
                    opacity: 0;
                    z-index: 1;
                }

                img {
                    filter: grayscale(30%);
                    transition: all 0.8s ease;
                }
            }

            &--large {
                figure {
                    height: 100%; 

                    img {
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            a {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                text-align: left;
                text-indent: -9999px;
                z-index: 5;
            }

            &__type {
                position: absolute;
                width: auto;
                height: auto;
                background: $primary-color;
                color: #ffffff;
                top: 40px;
                #{$start-direction}: 40px;
                z-index: 2;
                font-weight: 700;
                padding: 10px 20px;
                transition: all 0.8s ease;
                border-radius: 3px;
            }

            &__details {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                padding: 40px;
                color: #ffffff;
                display: flex;
                justify-content: flex-end;
                flex-direction: column;
                z-index: 3;

                p {
                    font-size: 24px;
                    max-height: 82px;
                    line-height: 1.2;
                    overflow: hidden;
                    margin: 0;
                    max-width: 90%;
                }
            }

            &--large {
                .home__news__item__details p {    
                    font-size: 35px;
                    max-height: 82px;
                    line-height: 1.2;
                }
            }

            &__date {
                font-size: 17px;
                display: block;
                color: $secondary-color;
                margin: 0 0 10px;
                font-weight: 600;
            }
        }
    }

    &__highlights {
        &__content {
            background-color: #3A3A3A;
            padding: 40px 50px 70px;
        }

        &__legend {          
            border-radius: 10px;
            overflow: hidden;            
            box-shadow: 0 3px 22px rgb(0,0,0,0.16);

            &__heading {
                background: url(../images/bg/legend_bg.png) center 0 no-repeat;
                height: 150px;
                background-size: contain;
                margin: 0 0 -50px;
                position: relative;
                z-index: 1;
                text-align: center;

                h3 {
                    font-family: $font-stack-2;
                    font-size: 40px;
                    text-transform: uppercase;
                    padding: 40px 0 0;
                }
            }

            figure {
                border-radius: 10px;
                overflow: hidden;
                position: relative;

                &::after {
                    content: "";
                    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0) 13%, rgba(0, 0, 0, 1) 98%);
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    overflow: hidden;
                    text-indent: -9999px;
                    transition: all 0.8s ease;
                }

                & figcaption {
                    position: absolute;
                    z-index: 2;
                    bottom: 40px;
                    #{$start-direction}: 50px;

                    h4 {
                        font-weight: 600;
                        font-size: 40px;
                        color: $white-color;
                    }

                    p {
                        text-transform: uppercase;
                        font-weight: 700;
                        font-size: 20px;
                        color: $secondary-color;
                        margin: 0 0 25px;
                    }

                    .btn {
                        background: $primary-color;
                        color: $white-color;
                        border-radius: 4px;
                        font-size: 18px;
                        font-family: $font-stack-1;
                        font-weight: 700;
                        text-transform: uppercase;
                        padding: 15px 25px;
        
                        &:hover {
                            background: $secondary-color;
                        }
        
                        i {
                            margin: invertValues(0, 0, 0, 10px);
                            vertical-align: middle;
                        }
                    }
                }

                img {
                    display: block;
                    width: 100%;
                    max-width: 100%;
                    transition: all 0.8s ease;
                }
            }

            &:hover {
                figure {    
                    img {
                        filter: grayscale(0%);
                        transform:rotate(-2deg) scale(1.02);
                    }
                }
            }
        }

        &__best {
            min-height: 100%;
            border-radius: 10px;        
            box-shadow: 0 3px 22px rgb(0,0,0,0.16); 
            text-align: center;
            background: #ffffff url(../images/bg/best_bg.jpg) center center no-repeat;
            background-size: cover;
            position: relative;

            &::before {
                content: "";
                background: $white-color;
                position: absolute;
                width: 94%;
                height: 14px;
                left: 50%;
                top: 100%;
                z-index: 0;
                border-radius: 0 0 10px 10px ;   
                margin: invertValues(0, 0, 0, -47%);
            }

            &__rank { 
                position: absolute;
                #{$end-direction}: 15px;
                background: url(../images/bg/bg_rank.svg) 0 0 no-repeat;
                width: 92px;
                height: 95px;
                top: -7px;
                font-weight: 600;
                color: #ffffff;
                font-size: 40px;
                line-height: 79px;
            }

            h3 {
                font-family: $font-stack-2;
                font-size: 40px;
                text-transform: uppercase;
                padding: 40px 0 0;
            }

            h4 {
                font-family: $font-stack-2;
                text-transform: uppercase;
                font-size: 34px;
                font-weight: 300;
            }

            &__content {
                display: flex;
                justify-content: center;
                padding: 20px 0 0;

                figure {
                    border: 6px solid $secondary-color;
                    border-radius: 12px;
                    margin: 0 0 32px;
                    #{$end-direction}: -10px;
                    position: relative;

                    & > img {
                        position: relative;
                        z-index: 0;
                        border-radius: 6px;
                    }

                    span {
                        background: #ffffff;
                        position: absolute;
                        top: 100%;
                        z-index: 2;
                        #{$start-direction}: 50%;
                        border-radius: 80px;
                        width: 88px;
                        height: 88px;
                        margin: -56px 0 0 -44px;
                        box-shadow: 0 23px 36px rgba($color: #AF670A, $alpha: 0.47);                        

                        & img {
                            max-width: 60%;
                            display: block;
                            margin: 20px auto 0;

                            animation: rankAnimation 5.2s infinite ease-in-out;                                                       
                        }
                    }
                }

                h5 {
                    margin: 0 20px;
                    font-size: 50px;
                    font-family: $font-stack-2;
                    color: $primary-color;
                    flex-grow: 1;
                    margin: 60px 0 0;
                    line-height: 1;

                    small {
                        display: block;
                        font-family: $font-stack-1;
                        font-size: 16px;
                        font-weight: 500;
                        text-transform: uppercase;
                        color: $black-color;
                    }
                }
            }

            h6 { 
                font-size: 32px; 
                color: $white-color;  
                line-height: 1;

                span {
                    display: block;
                    font-size: 18px;
                    font-weight: 600;
                    text-transform: uppercase;
                    margin: 5px 0 0;
                }
            }
        }


        &__awards {
            border-radius: 10px;
            background: #262626 url(../images/bg/highlights_awards.png) center center no-repeat;
            background-size: cover;
            position: relative;
            margin: 0 0 20px;
            padding: 0 60px 60px;

            &::before {
                content: "";
                background: url(../images/bg/highlights_awards_trophy.png) center top no-repeat;
                position: absolute;
                width: 100px;
                height: 204px;
                #{$end-direction}: 15px;
                top: -7px;
                z-index: 0;
            }

            & h3 {
                font-family: $font-stack-2;
                font-size: 40px;
                text-transform: uppercase;
                padding: 40px 0 15px;
                text-align: center;
            }

            &__content {
                display: flex;

                figure {
                    margin: 0 35px 0 0;
                    width: 130px;
                    position: relative;

                    & span {
                        background: #ffffff;
                        position: absolute;
                        bottom: -15px;
                        z-index: 2;
                        #{$end-direction}: -15px;
                        border-radius: 80px;
                        width: 50px;
                        height: 50px;
                        border: 2px solid #222222;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        & img {
                            max-width: 70%;
                            display: block;
                            animation: rotateYLogo 5.2s infinite ease-in-out;
                        }
                    }
                }

                aside {
                    p {
                        font-size: 24px;
                        font-family: $font-stack-2;
                        line-height: 1.2;
                        color: $secondary-color;
                        margin: 5px 0 0;
                    }

                    h4 {
                        font-size: 28px;
                        font-family: $font-stack-1;
                        font-weight: 500;
                        line-height: 1.2;
                        color: $white-color;
                        margin: 5px 0 20px;
                        min-height: 50px;
                    }

                    a.btn {
                        font-size: 18px;
                        border-radius: 5px;
                        font-weight: 600;
                        text-transform: uppercase;

                        &:hover {
                            background: $secondary-color;
                        } 
                    }
                }
            }
        }

        &__tickets {
            border-radius: 10px;
            background: #EFEFEF url(../images/bg/highlights_tickets.png) center center no-repeat;
            text-align: center;
            padding: 0 60px 50px;

            & h3 {
                font-family: $font-stack-2;
                font-size: 40px;
                text-transform: uppercase;
                padding: 40px 0 0;
                text-align: center;
            }

            & p {
                font-size: 22px;
                line-height: 1.2;
                margin: 0 0 30px; 
                color: #222222;
            }
        }
    }

    &__gallery {
        background-color: $primary-color;
        position: relative;

        &__heading {
            padding-top: 30px;
            padding-bottom: 30px;
        }

        &__item {
            border-bottom: 0 none;
            border-right: 4px solid $white-color;
            border-left: 4px solid $white-color;
            border-top: 8px solid $white-color;
            display: block;
            overflow: hidden;

            &--video {
                &::after {
                    content: "\f04b";
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    font-size: 24px;
                    text-align: center;
                    line-height: 54px;
                    position: absolute;
                    width: 54px;
                    height: 54px;
                    background: rgba(0, 0, 0, 0.2);
                    color: #FFFFFF;
                    top: 50px;                
                    #{$start-direction}: 50px;
                    z-index: 0;
                    border-radius: 8px;
                }
    
                &:hover {
                    &::after {
                        background: $primary-color;
                    }
                }
            }  
            
            figure {
                position: relative;

                img {
                    filter: grayscale(40%);
                    transition: all 0.8s ease;
                }

                &::after {
                    content: "";
                    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 1) 100%);
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    overflow: hidden;
                    text-indent: -9999px;
                    opacity: 1;
                    transition: all 0.8s ease;
                }

                figcaption {
                    position: absolute;
                    z-index: 2;
                    font-size: 30px;
                    text-transform: uppercase;
                    font-family: $font-stack-2;
                    color: $white-color;
                    bottom: 40px;                
                    #{$start-direction}: 50px;
                }
            }

            &:hover {
                figure {    
                    img {
                        filter: grayscale(0%);
                        transform:rotate(-1deg) scale(1.02);
                    }
                    &::after {
                        opacity: 0.5;
                    }
                }
            }
        }

        &__content {
            background: $white-color;

            .container {
                position: relative;
            }
        }

        &__tabmenu {
            background: $white-color;
            border-radius: 6px;
            padding: 6px;
            box-shadow: 0 3px 6px rgb(0,0,0,0.16);

            a {
                font-size: 30px;
                font-family: $font-stack-2;
                color: $primary-color;
                display: inline-block;
                padding: 10px 20px;
                min-width: 250px;
                text-align: center;

                &.nav-link.active {
                    background: $secondary-color;
                    color: $white-color;
                }
            }
        }
    }

    &__sponsor {
        padding: 40px 0;
        border-bottom: 1px solid #E3E3E3;
        text-align: center;

        &--bg {
            background-color: #F7F7F7;
            position: relative; 
            overflow: hidden;

            &::after {
                content: "";
                position: absolute;
                display: block;
                background: url(../images/placeholder/sponsor_pattern.svg) center center no-repeat;
                width: 1000px;
                height: 1000px;
                #{$end-direction}: -400px;
                background-size: contain;
                top: -500px;
                z-index: 0;
                opacity: 0.6;
                transform-origin: center center;
                animation: spin360 100s infinite linear;
            }

            &::before {
                content: "";
                position: absolute;
                display: block;
                background: linear-gradient(180deg, #F7F7F7 20%, rgba(0,0,0,0) 80%);
                width: 100%;
                height: 100%;
                #{$end-direction}: 0;
                top: 0;
                z-index: 1;
                opacity: 0.5;
            }
        }
        

        &--noborder {
            border: 0;
        }

        .container {            
            position: relative;
            z-index: 2;
        }

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            li {
                padding: 13px;
                border: 1px solid #DCDCDC;
                height: 120px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 7px;
                background: $white-color;

                img {
                    display: block;
                    
                }
            }
        }
    }

    &__rank{
        background-color: #fff;
        padding: 40px 50px 70px;
        nav{
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            margin: 0 0 -8px;
            z-index: 0;
            .nav-fill{
                border-bottom: none;
                .nav-item.nav-link{
                    flex: 0 0 auto;
                    font-family: $font-stack-2;
                    background-color: #C4C7CA;
                    color: #000;
                    border: none;
                    font-size: 27px;
                    text-transform: uppercase;
                    position: relative;
                    padding: 10px 27px 10px 16px;
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;
                    &::after{
                        content: " ";
                        position: absolute;
                        right: -9px;
                        width: 50px;
                        background-color: #C4C7CA;
                        z-index: 1;
                        top: 0;
                        height: 100%;
                        width: 28px;
                        transform: skewX(18deg);
                        border-top-right-radius: 8px;
                    }
                    &.active{
                        background-color: #F08800;
                        color: #fff;
                        &::after{
                            background-color: #F08800;
                            color: #fff;
                        }
                    }
                }
            }
        }
        &__view-all{
            a{
                font-size: 22px;
                font-family: $font-stack-2;
                color: #222222;
            }
        }
        .table{
            th, td{
                border: none;
                vertical-align: middle;
                font-weight: 500;
                font-size: 17px;
                padding: 12px 20px;
            }
            thead{
                background: #DADFE5;
                th{
                    font-family: $font-stack-1;
                    font-size: 16px;
                    color: #9B0448;
                    font-weight: bold;
                    text-transform: uppercase;
                }
            }
            tbody{
                tr{
                    td{
                        &:first-child{
                            span{
                                border: 1px solid #ECECEC;
                                border-radius: 6px;
                                color: #9B0448;
                                font-size: 16px;
                                padding: 0;
                                background: #fff;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                text-align: center;
                                width: 42px;
                                height: 42px;
                            }
                        }
                    }
                    &:nth-child(odd){
                        td{
                            background-color:rgb(0,0,0,0.04);
                        }
                    }
                }
            }
            &__club{
                display: flex;
                align-items: center;
                figure{
                    border: 1px solid #ECECEC;
                    border-radius: 6px;
                    padding: 2px;
                    background: #fff;
                    width: 40px;
                    margin-right: 10px;
                    img
                    {
                        width: 40px;
                        padding: 3px;
                    }
                }
                span{
                    font-size: 17px;
                    color: #9B0448;
                }
            }
            
        }
        &__table{
            box-shadow: 0 3px 13px rgb(0 0 0 / 11%);
            border-radius: 10px;
            padding-bottom: 30px;
            overflow: hidden;
            position: relative;
            &__btn{
                text-align: center;
                margin: 0 auto;
                background: #ffffff;
                position: absolute;
                width: 100%;
                bottom: 0;
                padding: 20px 0 40px;
                box-shadow: 0 -35px 20px 10px rgb(255 255 255 / 90%);
                .btn{
                    text-transform: uppercase;
                    border-radius: 5px;
                    font-size: 18px;
                    font-weight: 500;
                }
            }
        }
        .match__wrapper{
            background: #fff;
            box-shadow: 0 3px 13px rgb(0 0 0 / 11%);
            padding:20px 8px;
            border-radius: 10px;
            overflow: hidden;
            position: relative;
            &__box{
                border: 1px solid #E6E6E6;
                border-radius: 2px;
                border-top: 3px solid #F08800;
                padding:25px 0;
                text-align: center;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
                h3{
                    color: #222222;
                    font-size: 19px;
                    font-weight: bold;
                    text-transform: uppercase;
                    margin: 0;
                    span{
                        border-left: 2px solid #F08800;
                        margin-left: 10px;
                        padding-left: 10px;
                    }
                }
                small{
                    font-size: 17px;
                    display: block;
                }
            }
            &__middle{
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 18px 0px 25px;
                span{
                    background: #000;
                    color: #fff;
                    border-radius: 50%;
                    font-size: 14px;
                    margin-top: -30px;
                    display: flex;
                    width: 30px;
                    align-items: center;
                    height: 30px;
                    justify-content: center;
                }
            }
            &__team{
                padding: 0 10px;
                figure{
                    width: 86px;
                    height: 86px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: #E6E6E6;
                    padding: 10px;
                    overflow: hidden;
                }
                p{
                    margin: 0;
                    font-weight: 500;
                }
            }
            .btn__ticket{
                &--primary-colr{
                    background: linear-gradient(140deg, #9B0448 50%, #222222 100%);
                    margin:0;
                    padding: 5px 15px;
                    &:hover{
                        background: linear-gradient(140deg, #9b0448 30%, #222222 90%);
                    }
                }
            }
        }
    }

}

@keyframes rankAnimation { 
    0% { transform:scale(1) }
    3.5% { transform:scale(1.3) }
    7% { transform:scale(1) }
    10.5% { transform:scale(1.3) }
    17.5% { transform:scale(1) }
    100% { transform:scale(1) }
}

@keyframes rotateYLogo { 
    0% {transform:  translateZ(0) rotateY(0) scale(1);}
    50% {transform:  translateZ(150px) rotateY(190deg) scale(0.75);}
    80% {transform:  translateZ(0) rotateY(360deg) scale(1);}
    100% {transform:  translateZ(0) rotateY(360deg) scale(1);}
}

@keyframes rotateYLogo2 { 
    0% {transform:  translateZ(0) rotateY(0) scale(1);animation-timing-function: ease-in;}
    21% {transform:  translateZ(150px) rotateY(190deg) scale(0.8);animation-timing-function: ease-in;}
    32% {transform:  translateZ(0) rotateY(360deg) scale(1);animation-timing-function: ease-in;}
    100% {transform:  translateZ(0) rotateY(360deg) scale(1);animation-timing-function: ease-in;}
}

