.news {
    &__holder {
        padding: 50px 0 0;
        position: relative;
        background: $primary-color;

        @media (max-width: 991px) {
            .container{
                margin: 0;
            }
        }

        @media (max-width: 767px) {
            padding: 20px 0 0;
        }

        h3{
            font-size: 30px;
            color: $secondary-color;
            text-transform: uppercase;
            font-family: $font-stack-2;
            margin-bottom: 40px;
        }
        & .slick-list {
            overflow: visible;
        }

        & .slick-prev {
            #{$start-direction}: -150px;
            background: #F08800 url(../images/icons/slider_left_arrow.svg) no-repeat center center;
            background-size: 9px;
            border-radius: 0;
            @if $dir == right {
                transform: scaleX(-1);
            }

            :hover {
                opacity: 0.9;
            }

            @media (max-width: 1600px) {
                #{$start-direction}: -30px;
            }

            @media (max-width: 1370px) {
                #{$start-direction}: 0px;
            }
        }

        & .slick-next {
            #{$end-direction}: -150px;
            background: #F08800 url(../images/icons/slider_right_arrow.svg) no-repeat center center;
            background-size: 10px;
            border-radius: 0;
            @if $dir == right {
                transform: scaleX(-1);
            }

            :hover {
                opacity: 0.9;
            }

            @media (max-width: 1600px) {
                #{$end-direction}: -100px;
            }

            @media (max-width: 1370px) {
                #{$end-direction}: 0px;
            }
        }




        & .slick-arrow {
            position: absolute;
            display: block;
            top: 30%;
            padding: 0;
            width: 74px;
            height: 135px;
            opacity: 1;
            z-index: 5;
            border: 0;
            text-indent: -9999px;
            transition: transform 0.4s ease, opacity 0.4s ease, background-color 0.4s ease, padding 0.4s ease;

            @media (max-width: 575px) { 
                width: 40px;
                height: 60px;
                top: 20%;
            }
        }

        & .slick-arrow.slick-disabled {
            display: none !important;
        }
        & .slick-dots{
            padding: 40px 0 40px;
        }
    }

    &__items {
        display: flex;
        flex-direction: row;
        margin: 0 20px;
        position: relative;

        @media (max-width: 767px) {
            flex-direction: column;
        }

        .slick-active & {
            margin: 0;
        }

        &__image {
            min-width: 50%;
            min-height: 430px;
            background-size: cover;
            position: relative;

            @media (max-width: 767px) {
                min-height: 280px;
            }
    
            a {
                position: absolute;
                width: 100%;
                height: 100%;
                #{$start-direction}: 0;
                top: 0;
                overflow: hidden;
                text-indent: -9999px;
            }

            &::after{
                content: "";
                background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
                // background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0) 13%, black 100%);
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                overflow: hidden;
                text-indent: -9999px;
                transition: all 0.4s ease;
            }
        }

        &__details {
            background:$white-color;
            padding: 40px;
            color: $black-color;
            display: flex;
            justify-content: space-between;
            flex-direction: column;            
            flex-grow: 1;

            @media (max-width: 991px) {
                padding: 20px; 
            }

            @media (max-width: 767px) {
                padding: 20px;
            }    

            & .btn {
                width: 160px;
                font-weight: 700;
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

                @if $dir == right {
                    width: 180px;
                }
            }

            & h3 {
                font-size: 35px;
                font-weight: 100;
                line-height: 1.3;
                margin: 10px 0 12px;
                color: $primary-color;
                font-family: $font-stack-1;
                text-transform: capitalize;

                @media (max-width: 991px) {
                    font-size: 25px; 
                }

                a {
                    color: $primary-color;
                    text-decoration: underline;
                }
            }

            &  p {
                font-size: 17px;
                line-height: 1.6;
                margin: 0 0 10px;
            }
            & small{
                font-size: 18px;
                color: $secondary-color;
            }
        }
    }
}

.news__filter{
    padding: 50px 0 20px;
    background-color:#F6F6F6;

    @media (max-width: 767px) {
        padding: 30px 0 20px;
    }

    &__wrapper{
        display: flex;
        align-items: center;
        margin-bottom: 30px;

        @media (max-width: 620px) {
            flex-direction: column;
            align-items: flex-start;
        }

        h3,label{
            margin-bottom: 0;
            margin-#{$end-direction}: 20px;
            font-size: 26px;
            text-transform: uppercase;
            color: $primary-color;
            font-family: $font-stack-2;

            @media (max-width: 620px) {
                margin-#{$end-direction}: 0;
            }
        }
        .form-control{
            width: 300px;
            margin-top: -7px;
            border-radius: 0;
            color: $black-color;
            font-family: $font-stack-2;

            @media (max-width: 620px) {
                width: 100%;
                margin-top:0;
            }
        }
    }

    &__item {
        position: relative;
        margin-bottom: 10px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.10);
        
        &.media-item {
            margin: 0 8px 10px;
        }

        & figure {
            height: 290px;
            background-size: cover;
            background-repeat: no-repeat;  
            transition: all .5s;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 50%;
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 100%); 
                bottom: 0;
                #{$start-direction}: 0;
                opacity: 0.2;
                transition: all .2s ease; 
            } 
            span{
                position: absolute;
                background: #9B0448;
                color: #fff;
                padding: 8px 10px;
                border-radius: 3px;
                #{$start-direction}: 20px;
                top: 20px;
            }
        }

        &:hover {
            figure {
                &::before {
                    height: 80%;
                    opacity: .77;
                    bottom: 30px;
                }
            }
        }

    }
    &__discription {
        background-color: #ffffff;
        padding: 20px;
        margin: 0;
        position: relative; 

        @media (max-width: 767px) {
            padding: 15px;
        }

        & .btn {
            width: 160px;
            font-weight: 700;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
            display: none;
            margin-top: 15px; 
            position: relative;
            z-index: 1;

            &:hover {
                background-color: #ffffff;
                color: $primary-color;
            }
        }

        h4 {
            font-size: 23px;
            overflow: hidden;
            color: $black-color;
            position: relative;
            z-index: 1;
            line-height: 1.2;
            font-weight: 100;

            @media (max-width: 767px) {
                font-size: 20px;
            }
        }

        h5 {
            font-size: 20px;
            font-weight: 700;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: $primary-color;
            text-decoration: underline;
            margin-bottom: 15px;
            position: relative;
            z-index: 1;
            line-height: 1.2;
        }   

        p {
            &.date {
                font-weight: 100;
                font-size: 18px;
                color: $secondary-color;

                @media (max-width: 767px) {
                    margin-bottom: 4px;
                }
            }
        }        

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 0;
            bottom: 100%;
            #{$start-direction}: 0;
            transition: height 0.5s ease; 
            background-size: 100%;
            animation: move 12s infinite linear;
        }

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: -moz-linear-gradient(-45deg,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 60%, rgba(202,36,84,1) 100%);
            background: -webkit-linear-gradient(-45deg,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 60%,rgba(202,36,84,1) 100%);
            background: linear-gradient(135deg,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 60%,rgba(202,36,84,1) 100%);
            display: none;
            z-index: 0;
            bottom: 0;
            #{$start-direction}: 0;
        }

        @keyframes move {
            from {background-position: 0 0;}
              to {background-position: 4200px 0;}
        }

        .news__filter__item:hover & {
            background-color: $primary-color;
            margin: -54px 0 0;

            &::before {
                height: 15px;
            }

            .btn, &::after {
                display: block;
            }

            h5, p, h4 {
                color: #ffffff;
                text-decoration: none;
            }
        }
    }
}
    
   


