.news {
    &__detail{
        padding: 70px 0;
        figure{
            img{
                width: 100%;
            }
        }
        p{
            font-size: 20px;
        }
    }
}


    
   


