.projects {
    &-holder {
        padding: 50px 0 0;
        position: relative;
        background: $primary-color;

        h3{
            font-size: 30px;
            color: $secondary-color;
            text-transform: uppercase;
            font-family: $font-stack-2;
            margin-bottom: 40px;
        }
        & .slick-list {
            overflow: visible;
        }

        & .slick-prev {
            #{$start-direction}: -150px;
            background: #F08800 url(../images/icons/slider_left_arrow.svg) no-repeat center center;
            background-size: 9px;
            border-radius: 0;
            @if $dir == right {
                transform: scaleX(-1);
            }

            :hover {
                opacity: 0.9;
            }

            @media (max-width: 1600px) {
                #{$start-direction}: -100px;
            }

            @media (max-width: 1370px) {
                #{$start-direction}: 0px;
            }
        }

        & .slick-next {
            #{$end-direction}: -150px;
            background: #F08800 url(../images/icons/slider_right_arrow.svg) no-repeat center center;
            background-size: 10px;
            border-radius: 0;
            @if $dir == right {
                transform: scaleX(-1);
            }

            :hover {
                opacity: 0.9;
            }

            @media (max-width: 1600px) {
                #{$end-direction}: -100px;
            }

            @media (max-width: 1370px) {
                #{$end-direction}: 0px;
            }
        }




        & .slick-arrow {
            position: absolute;
            display: block;
            top: 30%;
            padding: 0;
            width: 74px;
            height: 135px;
            opacity: 1;
            z-index: 5;
            border: 0;
            text-indent: -9999px;
            transition: transform 0.4s ease, opacity 0.4s ease, background-color 0.4s ease, padding 0.4s ease;

            @media (max-width: 575px) { 
                width: 40px;
                height: 60px;
                top: 20%;
            }
        }

        & .slick-arrow.slick-disabled {
            display: none !important;
        }
        & .slick-dots{
            padding: 40px 0 40px;
        }
    }

    &-items {
        display: flex;
        flex-direction: row;
        margin: 0 20px;
        position: relative;

        @media (max-width: 767px) {
            flex-direction: column;
        }

        .slick-active & {
            margin: 0;
        }

        &__image {
            min-width: 50%;
            min-height: 430px;
            background-size: cover;
            position: relative;

            @media (max-width: 767px) {
                min-height: 280px;
            }
    
            a {
                position: absolute;
                width: 100%;
                height: 100%;
                #{$start-direction}: 0;
                top: 0;
                overflow: hidden;
                text-indent: -9999px;
            }
        }

        &__details {
            background:$white-color;
            padding: 40px;
            color: $black-color;
            display: flex;
            justify-content: space-between;
            flex-direction: column;            
            flex-grow: 1;

            @media (max-width: 767px) {
                padding: 20px;
            }    

            & .btn {
                width: 160px;
                font-weight: 700;
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

                @if $dir == right {
                    width: 180px;
                }
            }

            & h3 {
                font-size: 35px;
                font-weight: 100;
                line-height: 1.3;
                margin: 10px 0 12px;
                color: $primary-color;
                font-family: $font-stack-1;
                text-transform: capitalize;

                a {
                    color: $primary-color;
                }
                &:hover{
                    a{
                        text-decoration: underline;
                    }
                }
            }

            &  p {
                font-size: 17px;
                line-height: 1.6;
                margin: 0 0 10px;
            }
            & small{
                font-size: 18px;
                color: $secondary-color;
            }
        }
    }
}

.project {

    &-holder {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            display: inline-block;
            width: 750px;
            height: 611px;
            background: url(../images/bg/bg-content.svg) right bottom no-repeat;
            #{$start-direction}: 0;
            background-size: 1400px;
            top: 0;
            z-index: -1;
        }
    }

    &-banner {
        position: relative;

        img {
            margin: 0 auto;
            width: 100%;
        }

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: #EFEFEF;
            #{$end-direction}: 100%;
            top: 0;
            z-index: 2;
            margin: invertValues(0, 10px, 0, 0);
        }

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: #EFEFEF;
            #{$start-direction}: 100%;
            top: 0;
            z-index: 2;
            margin: invertValues(0, 0, 0, 10px);
        }

        .slick-prev {
            #{$start-direction}: -140px;            
        }
        
        .slick-next {
            #{$end-direction}: -140px;
        }

        @media (max-width: 1470px) {
            .slick-prev {
                #{$start-direction}: 20px;            
            }
            
            .slick-next {
                #{$end-direction}: 20px;
            }   
        }
    }
    
    &-item {
        position: relative;
        margin-bottom: 30px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.10);
        
        &.media-item {
            margin: 0 8px 10px;
        }

        &-holder {
            margin: 30px 0;
            position: relative;
        }

        & figure {
            height: 290px;
            background-size: cover;
            background-repeat: no-repeat;  
            transition: all .5s;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 50%;
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 100%); 
                bottom: 0;
                #{$start-direction}: 0;
                opacity: 0.2;
                transition: all .2s ease; 
            } 
            span{
                position: absolute;
                background: #9B0448;
                color: #fff;
                padding: 8px 10px;
                border-radius: 3px;
                left: 20px;
                top: 20px;
            }
        }

        &:hover {
            figure {
                &::before {
                    height: 80%;
                    opacity: .77;
                    bottom: 30px;
                }
            }
        }

        &__discription {
            background-color: #ffffff;
            padding: 30px 30px;
            margin: 0 0 0;
            position: relative; 

            & .btn {
                width: 160px;
                font-weight: 700;
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
                display: none;
                margin-top: 15px; 
                position: relative;
                z-index: 1;

                &:hover {
                    background-color: #ffffff;
                    color: $primary-color;
                }
            }

            h4 {
                font-size: 23px;
                overflow: hidden;
                color: $black-color;
                position: relative;
                z-index: 1;
                line-height: 1.2;
                font-weight: 100;
            }

            h5 {
                font-size: 20px;
                font-weight: 700;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                color: $primary-color;
                text-decoration: underline;
                margin-bottom: 15px;
                position: relative;
                z-index: 1;
                line-height: 1.2;
            }   
    
            p {
                &.date {
                    font-weight: 100;
                    font-size: 18px;
                    color: $secondary-color;
                }
            }        

            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 0;
                background: url(../images/bg/project-top.png)  0 0 repeat-x;
                bottom: 100%;
                #{$start-direction}: 0;
                transition: height 0.5s ease; 
                background-size: 100%;
                animation: move 12s infinite linear;
            }

            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 105%;
                background: -moz-linear-gradient(-45deg,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 60%, rgba(202,36,84,1) 100%);
                background: -webkit-linear-gradient(-45deg,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 60%,rgba(202,36,84,1) 100%);
                background: linear-gradient(135deg,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 60%,rgba(202,36,84,1) 100%);
                display: none;
                z-index: 0;
                bottom: 0;
                #{$start-direction}: 0;
            }

            @keyframes move {
                from {background-position: 0 0;}
                  to {background-position: 4200px 0;}
            }

            .project-item:hover & {
                background-color: $primary-color;
                margin: -54px 0 0;

                &::before {
                    height: 15px;
                }

                .btn, &::after {
                    display: block;
                }

                h5, p, h4 {
                    color: #ffffff;
                    text-decoration: none;
                }
            }
        }

    }

    &-tab {
        &.nav-tabs {
            padding: 20px 0 0;
            border-bottom: 1px solid #CACACA;
            position: relative;

            &::after, &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 1px;
                background: #CACACA;
                bottom: -1px;
            }

            &::before {
                #{$start-direction}: 100%;
            }
            &::after {
                #{$end-direction}: 100%;
            }

            .nav-link { 
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                font-size: 24px;
                font-weight: 600;
                background: none;
                padding: 10px 30px;
                color: $secondary-color;

                @media (max-width: 1199px) {
                    padding: 10px 20px;
                }

                @media (max-width: 991px) {
                    font-size: 18px;     
                    padding: 10px 15px;            
                }

                @media (max-width: 575px) { 
                    font-size: 12px;
                    padding: 6px 6px;  
                }
    
                &:hover {
                    background: $primary-color;
                    border-color: $primary-color;
                    color: $white-color;
                }
    
                &.active {
                    color: $primary-color;
                    border-color: #CACACA #CACACA #ffffff;
                    font-weight: 700;
                    cursor: default;
                    &:hover {
                        background: none;
                    } 
                }
            }
        }
    }
}

.news-filter{
    padding: 50px 0 20px;
}
