.recognitions {
    &-item {
        position: relative;
        margin-bottom: 30px;

        &-image {
            position: relative;
            margin-bottom: 30px;  

            figure {
                height: 260px;
                background-size: cover;
                background-repeat: no-repeat;  
                transition: all .5s;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: rgba($color: #000000, $alpha: .5);
                    bottom: 0;
                    #{$start-direction}: 0;
                    opacity: .5;
                    transition: all .4s ease; 

                    .recognitions-item:hover & {
                        opacity: .1;
                    }
                }
            }
 
            span {
                background: #ffffff;
                font-size: 12px;
                line-height: 1;
                font-weight: 700;
                color: $primary-color;
                position: absolute;
                z-index: 2;
                #{$start-direction}: 20px;
                bottom: 20px;
                padding: 10px 10px;
                text-align: center;
            }
        }

        h5 {
            font-size: 20px;
            font-weight: 600;
            a {
                color: $black-color;

                &:hover {
                    color: $primary-color;
                }
            }
        }
    }    

    &-search {        
        background: #EEEEEE;
        display: flex;
        padding: invertValues(20px, 20px, 20px, 80px);
        width: 100%;
        margin: 0 0 40px;

        @media (max-width: 575px) { 
            padding: invertValues(10px, 10px, 10px, 40px);     
        }

        @media (max-width: 430px) { 
            flex-direction: column;   
        }

        & label {
            flex-grow: 2;
            margin: 0;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                #{$start-direction}: -50px;
                top: 4px;
                width: 28px;
                height: 28px;
                background: url(../images/icons/btn_search.svg) 0 0 no-repeat;

                @media (max-width: 575px) { 
                    #{$start-direction}: -35px;
                }
            }

            input {
                font-size: 23px;
                font-weight: 400;
                background-color: rgba(0,0,0,0.06);
                padding: 4px 5px;
            }
        }

        & .btn {
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);

            @media (max-width: 430px) { 
                margin-top: 10px;
            }
        }

        &-holder {
            max-width: 670px;
            margin: 0 0 40px;

            p {
                strong {
                    color: $primary-color;
                }
            }
        }
    }
}