.stadia {

    h2 {
        @media (min-width: 992px) and (max-width: 1300px) {
            font-size: 40px;
        }
    }

    p {
        font-size: 20px;

        @media (max-width: 767px) {
            font-size: 17px;
        }
    }  

    &__map{

        img {
            width: 100%;
        }
    }

    .container {

        @media (max-width: 767px) {
            margin: 0;
        }
    }

    .home__rank__table {

        &--stadia {
            margin-top: 20px;
            overflow: auto;
            height: 443px;

            .table {

                thead {

                    th ,td {

                        @media (min-width: 992px) and (max-width: 1300px) {
                            padding: 12px 20px;
                            font-size: 16px;
                        }

                        @media (max-width: 767px) {
                            font-size: 13px;
                            padding: 10px 7px;
                        }
                    }
                } 
            }

            tbody {
                tr {
                    &:hover {
                        background: $primary-color;
        
                        .table__club {
    
                            svg {

                                path {
                                    fill:$primary-color
                                }
                            }
    
                            span {
                                color: $white-color;
                            }

                        }
    
                        .read__more {
                            color: $white-color;
    
                            &::after {
                                border-top: 1px solid $white-color;
                                border-right: 1px solid $white-color;
                            }
                        }
                    }
                }
            }

            .width-01 {
                width: 90px;

                @media (max-width: 991px) {
                    width: 50px;
                }

            }

            .width-02 {

                @media (max-width: 475px) {
                    width: 280px;
                }

            }
            
            .width-03 {
                width: 170px;

            }

            .width-04 {
                width: 200px;

                @media (max-width: 991px) {
                    width: 120px;
                }

            }

            .read__more {
                font-weight: 100;

                @media (max-width: 991px) {
                    font-size: 14px;
                }
            }
            
            .table__club {

                span {
                    font-weight: 100;

                    @media (min-width: 992px) and (max-width: 1300px) {
                        font-size: 17px;
                    }

                    @media (max-width: 991px) {
                        font-size: 14px;
                    }
                }

            }
        }
       
    }

    &__profile {
        display: flex;
        margin: 20px 0;

        @media (max-width: 1028px) and (min-width: 768px) {
            flex-direction: column;
        }

        @media (max-width: 767px) {
            margin: 10px 0;
        }

        @media (max-width: 475px) {
            flex-direction: column;
        }

        &__block {
            display: flex;
            align-items: center;
            min-width: 290px;

            @media (max-width: 1028px) and (min-width: 768px) {
                min-width: 270px;

                &:first-child {
                    margin-bottom: 10px;
                }
            }

            @media (max-width: 475px) {

                &:first-child {
                    margin-bottom: 20px;
                }
            }
            
            figure {
                width: 58px;
                height: 58px;
                background: $primary-color;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-#{$end-direction}: 8px;
            }

            h3 {
                color: $primary-color;
                font-size: 24px;
                font-family: $font-stack-2;
                margin: 0;

                small {
                    display: block;
                    font-size: 24px;
                }

            }
        }
    }

    &__slider {
        position: relative;
        z-index: 4;
        height: 100%;
        margin-top: -50px;

        @media (max-width: 767px) {
            margin-top: 0;
        }

        &__item { 
            position: relative;
            z-index: 1;
            a {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                text-align: left;
                text-indent: -9999px;
                z-index: 5;
            }

            figure {
                border: 13px solid $primary-color;
                background: $primary-color;

                img {
                    width: 100%;
                    border-radius: 3px;
                }
            }
        }

        .slick-dots {
            padding: 30px 0 0;

            li {

                button {
                    background: #C7C7C7;
                    height: 21px;
                    width: 21px;

                    @media (max-width: 767px) {
                        height: 15px;
                        width: 15px;   
                    }
                }

                &.slick-active {

                    button {
                        background-color: $primary-color;
                    }

                }
            }
        }
    }

    &__map{

        &__heading{
           color: #0c0c0c;
           font-size: 17px;
           font-weight: 600;
           font-family: $font-stack-1;
           margin-bottom: 8px;
        }
        &__loation{
            font-size: 16px !important;
            font-family: $font-stack-1;
            margin: 0;
        }
    }
}

.home__rank__table--stadia::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.home__rank__table--stadia::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}

.home__rank__table--stadia::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #CECECE;
}