.strategic {

    &-holder {

        h3 {
            font-size: 30px;
            font-weight: 700;
            margin: 0 0 30px;
            padding: 0;
            line-height: 1.4;

            @media (max-width: 767px) {
                margin: 0 0 20px;
            }

            span {
                display: block;
                color: #464749;
            }
        }
    }

    &-fund {

        background: #F6F6F6;
        background-size: 100%;
        padding: 50px 0 50px;
        position: relative;

        &-heading { 
            font-size: 40px; 
            line-height: 1.2;
            font-weight: 700;
            color: $primary-color;
            padding: invertValues(0, 150px, 0, 0) !important;
            margin: invertValues(0, 50px, 0, 0) !important;
            text-align: center;
            position: relative;

            @media (max-width: 767px) {
                padding: 0 0 150px !important;
                margin: 0 !important;
                text-align: center;
                flex-grow: 1;
            }

            &::after {
                content: '';
                position: absolute;
                display: block;
                width: 84px;
                height: 100%;
                background: url(../images/icons/icon_strategic.svg) #{$end-direction} center no-repeat; 
                bottom: 0;
                #{$end-direction}: 0;
                z-index: 0;
            
                @if $dir == right {
                    transform: scaleX(-1);
                }

                @media (max-width: 767px) {
                    transform: rotate(90deg);
                    #{$end-direction}: 45%;
                    transform-origin: 50% #{$start-direction};

                    @if $dir == right {
                        transform: rotate(-90deg) scaleX(-1);
                    }
                }
            }            
        }        
    }

    &-revenues {
        background: #F6F6F6;
        background-size: 100%;
        padding: 10px 0 10px;
        margin: 0 0 50px;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: 50%;
            background: #ffffff url(../images/bg/about-bg.png) #{$start-direction} top no-repeat;
            bottom: 0;
            #{$start-direction}: 0;
            z-index: 0;
        }

        .container {
            position: relative;
            z-index: 1;
        }
    }

    &-budget {
        margin: 0 0 50px;
    }

    &-box {
        border: 1px solid #C0C0C0;
        text-align: center;
        background: #ffffff;
        height: 100%;
        padding: 20px;
        position: relative;

        @media (max-width: 767px) {
            height: auto; 
            margin: 0 0 15px;       
        }

        &.style1 {            
            padding: 50px 20px;
        }

        &.style2 {
            &:hover {
                box-shadow: 0px 14px 19px #D6D6D6;
            }
        }

        &.style3 {            
            overflow: hidden;

            &:hover {
                overflow: visible;
            }
        }

        &-popup {
            background: #ffffff;
            position: absolute;
            #{$start-direction}: 0;
            top: -80px;
            margin: 0 -20px;
            padding: 20px 0 0;
            z-index: 2;
            opacity: 0;
            transform: scale(0.9);
            border: 1px solid #4B6A7E;
            transition: transform 0.5s ease, opacity 0.15s ease;
            box-shadow: 0px 14px 35px rgba($color: #000000, $alpha: .15);            

            figure {   
                margin: 10 0 30px;
            }

            section {
                background: linear-gradient(180deg, #7A0A2A 0%, #DA2A5C 100%);
                padding: 20px;
                color: #ffffff;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 10px;
                    background: url(../images/bg/project-top.png)  0 0 repeat-x;
                    bottom: 100%;
                    #{$start-direction}: 0;
                    transition: height 0.5s ease; 
                    background-size: 100%;
                    animation: move 15s infinite linear;
                }

                p {
                    font-size: 20px !important;
                    color: #ffffff;
                    text-decoration: underline;
                    margin: 0 0 10px;
                }

                span {
                    font-size: 16px;
                    line-height: 1.2;
                    display: block;
                }
            }
        }



        &:hover {
            border: 1px solid #7A0A2A;

            .strategic-box-popup {
                opacity: 1;
                transform: scale(1);
                transition: transform 0.5s ease, opacity 0.3s ease;
            }
        }

        p {
            margin: 0 auto;
            padding: 0;
            font-size: 18px !important;
            font-weight: 600;
            max-width: 300px;
            line-height: 1.6;        
        }

        figure {   
            height: 75px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 0 22px;

            img {
                max-height: 100%;
            }
        }
    }

    &-decree {
        padding: 40px 0;
    }
   
    &-pillars {
        margin: 40px 0;

        .pillars {
            margin: 0 0 10px;
            position: relative;
            display: flex;
            border-radius: 6px;  
            cursor: pointer;

            p {
                position: absolute;
                #{$start-direction}: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 5;
                line-height: 51px;
                margin: 0;
                padding: 0;
                font-size: 20px;
                color: #ffffff;
                font-weight: 600;
                padding: 0 20px;
                text-shadow: 0 0 15px rgba(0,0,0,0.7);

                @media (max-width: 575px) { 
                    font-size: 12px;
                    line-height: 29px;
                    padding: 0 10px;
                }
            }

            &:after {
                content: '';
                display: block;
                background: #F5F5F5;
                flex-grow: 2;
                z-index: 1;
            }

            &:before {
                content: '';
                display: block;
                background: linear-gradient(103deg, rgba(5,143,178,1) 0%, rgba(218,42,92,1) 65%);
                position: absolute;
                #{$start-direction}: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 0;
                overflow: hidden;
                border-radius: 8px;

                @if $dir == right {
                    transform: scaleX(-1);
                }
            }

            &-bar {
                background: transparent;
                border-radius: 6px;
                display: block;
                box-shadow: 10px 0px 0px 1px #F5F5F5;
                height: 52px;
                background: url(../images/bg/bg_bar.png) 0 0 repeat; 
                -webkit-animation: progress-bar-stripes 1s linear infinite;
                animation: progress-bar-stripes 1s linear infinite;
                position: relative;

                @if $dir == right {
                    box-shadow: -10px 0px 0px 1px #F5F5F5;
                }

                @media (max-width: 575px) { 
                    height: 29px;
                }
                
                & span {
                    content: '';
                    display: none;
                    background: url(../images/bg/bg_bar_popup.png) 0 0 repeat; 
                    position: absolute;
                    #{$end-direction}: 0;
                    bottom: 100%;
                    width: 71px;
                    height: 55px;
                    margin: invertValues(0, -20px, -5px, 0);
                    z-index: 0;
                    text-align: center;
                    line-height: 54px;
                    z-index: 6;
                    font-weight: 700;
                    font-size: 20;
                    color: #ffffff;
                    -webkit-animation: bounce 1s linear infinite;
                    animation: bounce 1s linear infinite;
                }
            }

            &:hover {
                &:after {
                    background: #DCDCDC;
                }

                .pillars-bar {
                    box-shadow: 10px 0px 0px 0px #DCDCDC;

                    @if $dir == right {
                        box-shadow: -10px 0px 0px 0px #DCDCDC;
                    }
                }

                span {
                    display: block;
                }
            }             
        }
    }


    &-accordion {
        border-top: 1px solid #DBDBDB;  

        .card {
            position: relative;
            background-color: #ffffff;
            border: 0 none; 
            border-bottom: 1px solid #DBDBDB;            
            border-radius: 1px;
            margin: 0;
        }

        .card-body {
            padding: 30px 10px 40px;
            border-top: 1px solid #DBDBDB;
            p {
                &:last-child {
                    margin: 0;
                }
            }
        }

        .card-header {
            padding: 0;
            margin: 0;
            background-color: #ffffff;
            border: 0;

            .card-link {
                background: #ffffff;
                font-weight: 700;
                font-size: 30px;
                color: #464749;

                @media (max-width: 575px) { 
                    font-size: 20px;
                }

                &::after {
                    content: "";
                    position: absolute;
                    width: 46px;
                    height: 46px;
                    background: #4B6A7E url(../images/bg/right-arrow.svg) center center no-repeat;
                    border: 1px solid #4B6A7E;
                    #{$end-direction}: 10px;
                    top: 23px;
                    transition: all 200ms;
                    background-size: 10px;                     
                    transform: rotate(-90deg);
                    border-radius: 100%;

                    @media (max-width: 575px) { 
                        top: 12px;
                    }
                }

                &.collapsed {
                    background: #ffffff;
                    font-size: 30px;
                    font-weight: 700;
                    color: #464749;

                    &::after {                        
                        transform: rotate(90deg);
                        border: 1px solid #000000;
                        background-color: transparent;
                        filter: brightness(0);
                        opacity: 0.57;
                    }
                }
            }

            a {
                display: block;
                padding: 17px 5px 17px;
                position: relative;                
            }
        }

        &-firstbox {
            margin: 0 0 40px;
            .withborder {
                position: relative;
                
                &:after {
                    content: '';
                    position: absolute;
                    #{$end-direction}: 40px;
                    top: 0;
                    width: 1px;
                    height: 100%;
                    border-#{$end-direction}: 1px solid #CACACA;

                    @media (max-width: 767px) {
                        display: none;
                    }
                }
            }

            ul {
                li {
                    background: url(../images/icons/icon_li.svg) #{$start-direction} 3px no-repeat;
                    margin: 0 0 15px;
                    color: #464749;
                    font-size: 19px;
                    padding: 0 30px;                    
                }
            }

            h3 {
                max-width: 500px;
            }
        }

        &-secondbox {
            background: linear-gradient(90deg, #7A0A2A 0%, #DA2A5C 100%);
            padding: 40px;
            margin: 50px 0 40px;
            color: #ffffff;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                #{$end-direction}: 0;
                bottom: 100%;
                border-style: solid;
                border-width: 0 0 33px 33px;
                border-color: transparent transparent #DA2A5C transparent;
            }

            &:before {
                content: "";
                position: absolute;
                #{$start-direction}: 22%;
                top: 0;
                height: 100%;
                width: 30%;
                background: url(../images/bg/framework-line.svg) 0 40% no-repeat;
                background-size: auto 150%;
                
                @if $dir == right {
                    transform: scaleX(-1);
                }
            }

            li {
                background: url(../images/icons/icon_li_1.svg) #{$start-direction} 7px no-repeat;
                margin: 0 0 15px;
                color: #ffffff;
                font-size: 19px;
                padding: 0 30px;                    
            }
        }

        &-entities {
            ul {
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;

                li {
                    width: 20%;
                    text-align: center;
                    background: #4B6A7E;

                    @media (max-width: 767px) { 
                        width: 25%;
                    }

                    @media (max-width: 575px) { 
                        width: 50%;
                    }                    

                    &:nth-child(odd) {
                        background: #7A0A2A;
                    }
                      

                    figure {
                        background: #ffffff;
                        height: 150px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 0;
                        border: 1px solid #E2E2E2;

                        img {
                            max-height: 100%;
                        }
                    }

                    p {
                        font-size: 18px;
                        font-weight: 700;
                        color: #ffffff;
                        padding: 20px 17px;
                        line-height: 1.2;
                    }
                }
            }
        }
    }
}

@-webkit-keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
    40% {-webkit-transform: translateY(-20px);} 
    60% {-webkit-transform: translateY(-10px);} 
 } 
 
 @keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-20px);} 
    60% {transform: translateY(-10px);} 
 }

@-webkit-keyframes progress-bar-stripes {
	from {
		background-position: 38px 0
	}
	to {
		background-position: 0 0
	}
}

@keyframes progress-bar-stripes {
	from {
		background-position: 38px 0
	}
	to {
		background-position: 0 0
	}
}